footer{
    margin-top: 150px;
}

nav{
    height: 50px;
    background: black;
    color: white;
}

.menu-item{
    text-transform: uppercase;
    list-style: none;
}

.nav-link:hover{
    background: white;
    color: black;
}

.slider{
    width: 100%;
    position: relative;
}

.slide-image{
    width: 100%;
}

.slide-text{
    color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    padding: 32px 0px 32px 0px;
    text-align: center;
}

.band-desc{
    margin-top: 100px;
}

.band-desc-article>*{
    padding-bottom: 20px;
}

.band-desc-name{
    text-transform: uppercase;
    text-align: center;
}

.band-desc-speech{
    color: gray;
    text-align: center;
}

.tour-dates{
    margin-top: 150px;
    background: black;
    padding: 50px 0px 200px 0px;
}

.tour-dates-text{
    text-align: center;
}

.tour-dates-text-header{
    text-transform: uppercase;
    color: white;
}

.tour-dates-text-tickets{
    font-style: italic;
    color: gray;
}

.tour-date-months{
    background: white;
    margin-top: 50px;
}

.tour-date-month{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.tour-date-tickets-available{
    justify-content: space-between;
}

.tour-date-month-name{
    color: gray;
    padding: 10px;
}

.tour-date-month-status{
    font-size: 14px;
    color: white;
    background: red;
    margin-bottom: 5px;
    padding: 3px;
}

.tour-date-month-count-tickets{
    justify-self: end;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background: black;
    width: 25px;
    color: white;
}

.tour-dates-cities{
    margin-top: 50px;
}

.tour-date-city{
    height: 300px;
}

.tour-date-city-img{
    width: 100%;
    height: 230px;
}

.tour-date-city-text{
    background: white;
    padding: 10px;
}

.tour-date-city-name{
    font-weight: bold;
}

.tour-date-city-date{
    color: gray;
}

.tour-date-city-buy-btn{
    border: 1px solid black;
    background: black;
    color: white;
    padding: 7px;
}

.contact{
    margin-top: 100px;
}

.contact-text{
    text-align: center;
}

.contact-text-header{
    text-transform: uppercase;
}

.contact-text-fan{
    color: gray;
    font-style: italic;
}

.contact-info{
    margin-top: 75px;
}

.name-email-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-name, .contact-email{
    width: 48%;
}

.contact-input{
    border: 0.1px solid gray;
    padding: 5px;
}

.contact-message{
    width: 100%;
    margin-top: 10px;
}

.contact-send-form{
    border: 1px solid black;
    padding: 10px;
    background: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    float: right;
    margin-top: 10px;
}

.map{
    width: 100%;
}

.map-img{
    width: inherit;
}

.social-networks{
    margin-top: 150px;
}

@media screen and (max-width: 576px)
{

}

@media screen and (min-width: 576px)
{

}

@media screen and (min-width: 768px)
{

}

@media screen and (min-width: 992px)
{

}

@media screen and (min-width: 1200px)
{

}